# Yes, but not
.*
!.awareness/
!.cursor/
!.devcontainer/
!.gitignore

# DONT DO THIS TYPICALLY
!.env

*.csv
!data/raw/*
!data/predictions/*
*.rds
artifacts/

# Development environment
*.db
archive/
mlruns/
mlartifacts/
results/

# Language specific
docs/
Rplots.pdf
*.pyc
.RData
.Rhistory
.cpcache/
.nrepl-port

# LaTeX
*long*
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.synctex.gz
*(busy)

*.pdf

xxx*
prompts/